<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Web</title>
    <link rel="icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('build/style.css') }}">
</head>
<body>
<div id="app" data-is-authenticated="{{ isAuthenticated }}" data-roles="{{ roles }}" data-group="{{ group }}" data-remember-me="{{ rememberMeToken }}"></div>
<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>
